<p>ecom works!</p>
<!-- <div class="buttons">
    <div class="list"><i class="fa fa-list">LIST</i></div>
    <div class="grid"><i class="fa fa-th-large">GRID</i></div>
  </div> -->
  <button (click)="this.layout='list'">list</button>
  <button (click)="this.layout='grid'">grid</button>

  <select id="filter" (change)="sortingData($event)">Filter
    <option value="DEFAULT"> Default price</option>
      <option value="ASC">price Low to High</option>
      <option value="DESC">price High to Low</option>
  </select>

  <!-- <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Dropdown button
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
    </div>
  </div> -->



<div class="grids" *ngIf="layout==='grid';else loading">
<div class="inn" *ngFor="let user of Data; let i = index">

    <ul>{{user.title}}</ul>
    <ul>{{user.price}}</ul>

</div>
</div>



<ng-template #loading>
    <div class="list" >
        <div class="inn" *ngFor="let user of Data; let i = index">

            <ul>{{user.title}}</ul>
            <ul>{{user.price}}</ul>

        </div>
        </div>

</ng-template>
